*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(41, 39, 39);
}
.navbar{
    display: flex;
    flex-direction: row;
}
#background{
    width: 1215px;
    filter: brightness(0.4);
}
.netflixlogo{
    position: absolute;
    top: 0;
    margin-top: -20px;
    margin-left: -10px;
}
.language{
    position: absolute;
    top: 0;
    margin-left: 950px;
    margin-top: 20px;
}
#language{
    height: 30px;
    width: 120px;
    border-radius: 4px;
    background-color: black;
    color: white;
}
.signin{
    position: absolute;
    top: 0;
    margin-left: 1090px;
    margin-top: 20px;
}
#signin{
    height: 30px;
    width: 80px;
    border-radius: 4px;
    background-color: red;
    color: white;
    cursor: pointer;
}
#biggest{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 250px;
    font-size: 48px;
    font-weight: 900;
    margin-left: 85px;
}
#cancel{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 400px;
    font-size: 24px;
    font-weight: 100;
    margin-left: 420px;
}
#ready{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 450px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 300px;
}
#emailio{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 490px;
    font-size: 16px;
    padding-left: 20px;
    font-weight: 100;
    margin-left: 320px;
    width: 380px;
    height: 55px;
    background-color: black;
    border-radius: 4px;
    border: 1px solid grey;
}
#getstarted{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 490px;
    font-size: 25px;
    font-weight: 100;
    margin-left: 710px;
    width: 200px;
    height: 55px;
    background-color: red;
    border-radius: 4px;
    border: 1px solid grey;
}
.container2{
    background-color: black;
    height: 600px;
    width: 100%;
    margin-top: 5px;
}
#enjoy{
    color: white;
    font-size: 48px;
    font-weight: 900;
    padding-top: 230px;
    padding-left: 30px;
    padding-bottom: 10px;
}
#ps{
    color: white;
    font-size: 24px;
    padding-left: 30px;
}
#tv{
    float: right;
    margin-top: 160px;
    margin-right: 30px;
}
.container3{
    background-color: black;
    height: 580px;
    width: 100%;
    margin-top: 10px;
}
#download{
    margin-bottom: 200px;
    margin-left: 120px;
    position: absolute;
    top: 1450px;
}
#dltext{
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin-left: 620px;
    padding-top: 150px;
}
#save{
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-left: 620px;
    padding-top: 20px;
}
.container4{
    background-color: black;
    height: 600px;
    width: 100%;
    margin-top: 10px;
}
#sak{
    float: right;
    margin-top: 120px;
    margin-right: 40px;
}
.container5{
    background-color: black;
    height: 580px;
    width: 100%;
    margin-top: 10px;
}
#children{
    margin-bottom: 200px;
    margin-left: 20px;
    position: absolute;
    top: 2600px;
}
.container6{
    background-color: black;
    height: 960px;
    width: 100%;
    margin-top: 10px;
}
h2{
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding-top: 60px;
}
#faql{
    padding-top: 660px;
    color: white;
    font-size: 20px;
    text-align: center;
}
#email{
    background-color: rgb(18, 18, 18);
    margin-left: 310px;
    height: 55px;
    width: 380px;
    margin-top: 20px;
    border-style: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
}
#getstartedl{
    position: absolute;
    top: 2000;
    color: white;
    font-size: 25px;
    font-weight: 100;
    margin-left: 10px;
    margin-top: 20px;
    width: 200px;
    height: 55px;
    background-color: red;
    border-radius: 4px;
    border: 1px solid grey;
}
::placeholder {
    color: white;
    opacity: 0.7;
}
.container7{
    height: 390px;
    color: rgb(209, 203, 203);
    background-color: black;
    padding-left: 30px;
    margin-top: 8px;
}
#questions{
    font-size: 16px;
    padding-top: 55px;
    margin-bottom: 20px;
}
ul{
    list-style: none;
    color: rgb(209, 203, 203);
    text-decoration: none;
}
li{
    margin-bottom: 15px;
    text-decoration: none;
    text-decoration: underline;
}
.foot{
    display: flex;
}
.ful{
    margin-right: 180px;
    margin-top: 10px;
    font-size: 14px;
}
.hc{
    margin-right: 170px;
    font-size: 14px;
}
.accounts{
    margin-right: 160px;
    margin-top: 10px;
    font-size: 14px;
}
.media{
    margin-right: 150px;
    margin-top: 10px;
    font-size: 14px;
}
.language2{
    padding-top: 18px;
}
#ni{
    font-size: 14px;
    padding-top: 20px;
}
